name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Install correct Flutter version
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5"
          channel: "stable"

      # Verify versions
      - name: Flutter & Dart version
        run: |
          flutter --version
          dart --version

      # Install dependencies
      - name: Install dependencies
        run: flutter pub get
