name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Install Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.0"   # or your required version
          channel: "stable"

      # Verify Flutter
      - name: Flutter version
        run: flutter --version

      # Get dependencies
      - name: Install dependencies
        run: flutter pub get
